<html>
    <head>
        <title>KARAKUŞ GIDA</title>
        <link rel="stylesheet" href="/static/anasayfa.css">
    </head>
    
  
    <body>
        <div class="container">
            <nav class="menu">
                <ul class="main-menu">
                    <li class="active"><i class="fa fa-home"> <a href="/templates/anasayfa.html">Anasayfa</a></i></li>
                    <li class="with-submenu">
                        <i class="fa fa-briefcase"></i>Ürünlerimiz <i class="fa fa-caret-down"></i>
                        <ul class="submenu">
                            <li><a href="/templates/sebze.html">Sebzeler</a></li>
                            <li><a href="/templates/meyve.html">Meyveler</a></li>
                            <li><a href="/templates/kuruyemis.html">Kuruyemişler</a></li>
                            <li><a href="/templates/icecekler.html">İçecekler</a></li>
                            <li><a href="/templates/cipsler.html">Cipsler</a></li>
                        </ul>
                    </li>
                    <li><i class="fa fa-user"><a href="/templates/iletisim.html">İletişim</a></i></li>
                    <li><i class="fa fa-search"><a href="/templates/bizeulas.html">Bize Ulaşın</a></i></li>
                </ul>
            </nav>
            <article>
                <h1>Karakuş Gıda</h1>
                <div class="content">
                    <p>
                        <img src="/static/lays.jpg" alt="domatesresim" width="150" height="150">
                    </p>
                    <p>
                        5TL - Lays Klasik
                    </p>                                
                </div>

                <div class="content">
                    <p>
                        <img src="/static/doritos.jpg" alt="domatesresim" width="150" height="150">
                    </p>
                    <p>
                        5TL - Doritos Cips
                    </p>                                
                </div>


            </article>
        </div>
    </body>
</html>